.bode_style {
  background-color: #120571;
}
.size_set {
  height: 100%;
  width: 100px;
}
.title_set {
  color: #2D64FF;
  font-size: 750%;
  font-weight: 11.2px;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.color {
  background-color: #073FDB;
}

.size{
  font-size: 251%;
}
.h {
  color: #FFFFFF;
}
.o{
  font-size: 300%;
  color: #FFFFFF;
}


.myButton {
	
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
  color:#ffffff;
  margin: 0 auto 0 auto;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
  text-align: center;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  width: 100px;
}
.myButton:hover {
	background-color:#5cbf2a;
}
